<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header -->
    <%- include('Header.ejs') %>
    <!-- Header -->

    <!-- Start main-content -->
    <section class="page-title" style="background-image: url(../images/background/page-title.jpg);">
      <div class="auto-container">
        <div class="title-outer">
          <h1 class="title">About Us</h1>
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>About us</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end main-content -->

    <!-- About Section Six-->
    <section class="about-section-six">
      <div class="auto-container">
        <div class="row">
          <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
            <div class="inner-column">
              <div class="sec-title">
                <span class="sub-title">About Our Company</span>
                <h2>
                  <%= aboutUsData[0].vision %>
                </h2>

                <div class="text">
                  <%= aboutUsData[0].longDescription %>
                </div>
              </div>

          
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
            <div class="inner-column wow fadeInLeft">
              <div class="image-box">

                <figure class="image wow fadeIn"><img src="<%=`https://event-manager.syd1.cdn.digitaloceanspaces.com/${aboutUsData[0].image}` %>" alt="about img"></figure>
                <div class="completed-projects">
                  <strong>870+</strong>
                  <div class="text">PROJECT DONE</div>
                </div>
                <div class="experience bounce-y">
                  <strong>25</strong>
                  <div class="text">Years of <br>Experience</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Emd About Section Six-->

        <!-- Header -->
        <%- include('team.ejs') %>
        <!-- Header -->
  
    <!-- Services Section -->
    <section class="">
      <div class="container">

        <div class="row">
          <!-- Service Block -->
          <% for (const service of ourServiceData) { %>
          <div class="service-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image"><a href="#"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${service.image }` %>" alt="<%= service.title %>"></a></figure>
                <div class="icon-box">
                  
                  <img src="../images/m_icon.png">
                </div>
              </div>
              <div class="content-box">
                <h5 class="title"><a href="/service-details/<%= service._id %>">
                    <%= service.title %>
                  </a></h5>
                <div class="text">
                  <%= service.description.substring(0, 130) %>...
                </div>
                <a href="/service-details/<%= service._id %>" class="read-more">read More </a>
              </div>
            </div>
          </div>
          <% } %>


        </div>
      </div>
    </section>
    <!-- End Services Section-->

    <!-- Footer -->
    <%- include('Footer.ejs') %>
    <!-- Footer -->
</body>
</html>