
<!-- {/* WhatsApp icon */} -->
<a href="https://wa.me/97143785858" class="whatsapp_float" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-whatsapp whatsapp-icon"></i>
   </a>
<!-- {/* End WhatsApp icon */} -->


<!-- feedback -->
<button id="popup" onclick="window.location.href = '/contact';" class="feedback-button"
    onclick="toggle_visibility()">Enquiry</button>

<!-- feedback -->


<!-- Main Footer -->
<footer class="main-footer pb-5">
    <div class="bg-image" style="background-image: url(images/background/2.jpg)"></div>

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">
                <!--Footer Column-->
                <div class="footer-column col-xl-3 col-lg-12 col-md-6 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="logo"><a href="/"><img src="images/logo.png" alt=""></a></div>
                        <div class="text">Desires to obtain pain of itself, because it is pain, but occasionally
                            circumstances.</div>
                        <ul class="social-icon-two">
                            <li><a href="#"><i class="fab fa-linkedin"></i></a>
                                <%= contactUsData[0].linkedin %>
                            </li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a>
                                <%= contactUsData[0].facebook %>
                            </li>
                            <li><a href="#"><i class="fab fa-whatsapp"></i></a>
                                <%= contactUsData[0].whatsapp %>
                            </li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a>
                                <%= contactUsData[0].instagram %>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget">
                        <h3 class="widget-title">Explore</h3>
                        <ul class="user-links">
                            <li><a href="/about">About Company</a></li>
                            <li><a href="/team">Meet the Team</a></li>
                            <li><a href="/newsGrid">News & Media</a></li>
                            <li><a href="/our-projects">Our Projects</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget contact-widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-content">
                            <div class="text">
                                <%= contactUsData[0].address %>
                            </div>
                            <ul class="contact-info">
                                <li><i class="fa fa-envelope"></i> <a href="mailto:needhelp@yourdomain.com"></a>
                                    <%= contactUsData[0].email %>
                                        </a><br>
                                </li>
                                <li><i class="fa fa-phone-square"></i> <a href="tel:+926668880000">
                                        <%= contactUsData[0].mobile %>
                                    </a><br></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget gallery-widget">
                        <h3 class="widget-title">Gallery</h3>
                        <div class="widget-content">
                            <div class="outer clearfix">

                                <% for (const gallery of galleryData) { %>
                                    <figure class="image">
                                        <a href="#"><img
                                                src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${gallery.image }` %>"
                                                alt=""></a>
                                    </figure>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container">
                <div class="copyright-text">&copy; Copyright 2022 by <a href="/">Company.com</a>
                </div>


            </div>
        </div>
    </div>
</footer>
<!--End Main Footer -->

</div><!-- End Page Wrapper -->


<!-- Scroll To Top -->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<!--Revolution Slider-->
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/script.js"></script>




<script src="_include/js/feedback.js"></script>


<script>
  function toggle_visibility() {
    var e = document.getElementById('feedback-main');
    if (e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }

</script>