<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Moopes Group Security Service</title>
  <!-- Stylesheets -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
  <link href="../plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
  <link href="../plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../plugins/revolution/css/customStyles.css">
  <!-- REVOLUTION NAVIGATION STYLES -->
  <link rel="stylesheet" href="../css/fontawesome-all.css">
</head>

<body>
  <!-- WhatsApp STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>



  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper">

    <!-- Preloader -->
    <!--<div class="preloader"></div>-->

    <!-- Main Header-->
    <header class="main-header header-style-two">
      <!-- Header Top -->
      <div class="header-top header-style-layout-9">

        <div class="inner-container">

          <div class="top-left">
            <!-- Info List -->
            <ul class="list-style-one">
              <li><i class="fa fa-envelope"></i> <a href="mailto:needhelp@company.com">
                  <%= contactUsData[0].email %>
                </a></li>
              <li><i class="fa fa-map-marker"></i>
                <%= contactUsData[0].address %>
              </li>
            </ul>
          </div>

          <div class="top-right">
            <ul class="useful-links">
              <li><a href="#">Help</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="outer-box">
          <ul class="social-icon-one">
            <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <!-- Header Top -->

      <!-- Header Lower -->
      <div class="header-lower">
        <div class="auto-container">
          <!-- Main box -->
          <div class="main-box">
            <div class="logo-box">
              <div class="logo"><a href="/"><img src="../images/m-logo.png" alt="" title="Oitech"></a></div>
            </div>

            <!--Nav Box-->
            <nav class="nav main-menu">
              <ul class="navigation">

                <li><a href="/">Home</a></li>

                <li class="dropdown"><a href="#">About Us</a>
                  <ul>
                    <li><a href="/about">About</a></li>
                    <!-- <li class="dropdown"><a href="#">Projects</a>
                      <ul>
                        <li><a href="/projects">Projects List</a></li>
                        <li><a href="/project-details">Project Details</a></li>
                      </ul>
                    </li> -->
                    <li><a href="/team">Team</a></li>

                    <li><a href="/testimonial">Testimonial</a></li>

                    <li><a href="/faq">FAQ</a></li>
                  </ul>
                </li>

                <li><a href="/services">Services</a></li>

                <li><a href="/newsGrid">News</a></li>


                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- End Header Lower -->

      <!-- Mobile Menu  -->
      <div class="mobile-menu">
        <div class="menu-backdrop"></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
          <div class="upper-box">
            <div class="nav-logo"><a href="/"><img src="../images/logo.png" alt="" title=""></a></div>
            <div class="close-btn"><i class="icon fa fa-times"></i></div>
          </div>

          <ul class="navigation clearfix">
            <!--Keep This Empty / Menu will come through Javascript-->
          </ul>
          <ul class="contact-list-one">
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <i class="icon lnr-icon-phone-handset"></i>
                <span class="title">Call Now</span>
                <a href="tel:+92880098670">+92 (8800) - 98670</a>
              </div>
            </li>
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <span class="icon lnr-icon-envelope1"></span>
                <span class="title">Send Email</span>
                <a href="mailto:help@company.com">help@company.com</a>
              </div>
            </li>
            <li>
              <!-- Contact Info Box -->
              <div class="contact-info-box">
                <span class="icon lnr-icon-clock"></span>
                <span class="title">Send Email</span>
                Mon - Sat 8:00 - 6:30, Sunday - CLOSED
              </div>
            </li>
          </ul>


          <ul class="social-links">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </nav>
      </div><!-- End Mobile Menu -->

      <!-- Header Search -->
      <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>

        <div class="search-inner">
          <form method="post" action="index.html">
            <div class="form-group">
              <input type="search" name="search-field" value="" placeholder="Search..." required="">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Header Search -->

      <!-- Sticky Header  -->
      <div class="sticky-header">
        <div class="auto-container">
          <div class="inner-container">
            <!--Logo-->
            <div class="logo">
              <a href="/" title=""><img src="../images/logo-2.png" alt="" title=""></a>
            </div>

            <!--Right Col-->
            <div class="nav-outer">
              <!-- Main Menu -->
              <nav class="main-menu">
                <div class="navbar-collapse show collapse clearfix">
                  <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                  </ul>
                </div>
              </nav><!-- Main Menu End-->

              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
          </div>
        </div>
      </div><!-- End Sticky Menu -->
    </header>
    <!--End Main Header -->

    <!--Main Slider-->
    <section class="main-slider">
      <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
          <ul>

            <!-- Slide 1 -->
            <li data-index="rs-1" data-transition="zoomout">
              <!-- MAIN IMAGE -->

              <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${bannerData[0].image}` %>" alt="img" class=" rev-slidebg" />

              <div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="none" data-whitespace="nowrap" data-width="none" data-hoffset="['-270','-190','-60','-190']" data-voffset="['160','160','180','160']" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                <figure><img src="../images/main-slider/arrow.png" alt=""></figure>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-190','-190','-190','-200']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <span class="title">Solution For A Safer World</span>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-50','-50','-50','-80']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <h1>
                  <%= bannerData[0].title %>
                </h1>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['700','750','700','450']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['185','185','200','185']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <a href="tel:+92880098670" class="theme-btn btn-style-one"><span class="btn-title">Call Us</span></a>
                <a href="/contact" class="theme-btn btn-style-one"><span class="btn-title">Contact Us</span></a>
              </div>
            </li>

            <!-- Slide 2 -->
            <li data-index="rs-2" data-transition="zoomin">

              <!-- <img src="images/main-slider/1.jpg" alt="img" class="rev-slidebg"> -->
              <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${bannerData[1].image}` %>" alt="img" class="rev-slidebg">

              <div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="none" data-whitespace="nowrap" data-width="none" data-hoffset="['-270','-190','-60','-190']" data-voffset="['160','160','180','160']" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                <figure><img src="../images/main-slider/arrow.png" alt=""></figure>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-190','-190','-190','-200']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <span class="title">Solutions for your businesses</span>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-50','-50','-50','-80']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <h1>
                  <%= bannerData[1].title %>
                </h1>
              </div>

              <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['700','750','700','450']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['185','185','200','185']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                <a href="/about" class="theme-btn btn-style-one"><span class="btn-title">Discover
                    more</span></a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </section>
    <!-- End Main Slider-->

    <!-- About Section -->
    <section class="about-section pt-0">

      <!-- Features Section -->
      <div class="features-section pull-up pt-0">
        <div class="auto-container">
          <div class="outer-box">
            <div class="row">
              <!-- Feature Block -->
              <!-- Feature Block -->
              <% ourSpecialityData.forEach(item=> { %>
              <div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                  <div class="title-box " style="padding-right: 15px;">

                    <img style="height: 70px; padding-bottom: 5px;" src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.image }` %>" alt="<%= item.title %>" /> <!-- Display the image -->
                    <h5 class="title" style="padding: 10px;"><a href="/about">
                        <%= item.title %>
                      </a></h5>
                  </div>
                  <div class="text">
                    <%= item.description %>
                  </div> <!-- Display the description -->
                </div>
              </div>
              <% }); %>


              <!-- Feature Block -->

            </div>
          </div>
        </div>
      </div>
      <!-- End Features Section-->

      <div class="auto-container">
        <div class="row">
          <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
            <div class="inner-column">
              <div class="sec-title">
                <span class="sub-title">About Our Company</span>
                <h2>The Best Choice For Your Special Occasion</h2>
                <div class="text">
                  <%= aboutUsData[0].shortDescription %>
                </div>
              </div>

              <div class="btm-box">
                <a href="/about" class="theme-btn btn-style-one"><span class="btn-title">Discover
                    more</span></a>
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
            <div class="inner-column wow fadeInLeft">
              <figure class="image-1 overlay-anim wow fadeInUp"><img src="../images/resource/about-1.jpg" alt=""></figure>
              <figure class="image-2 overlay-anim wow fadeInRight"><img src="../images/resource/about-2.jpg" alt="">
              </figure>
              <div class="experience bounce-y">
                <img src="../images/resource/image-1.jpg" alt="" class="icon">
                <strong>3600+</strong> Satisfied Client
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Emd About Section -->

    <!-- Services Section -->
    <section class="services-section">
      <div class="auto-container">
        <div class="sec-title text-center">
          <span class="sub-title">Services we’re offering</span>
          <h2>High quality products and services<br> that we stand behind</h2>
        </div>

        <div class="row">
          <!-- Service Block -->
          <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image"><a href="/service-details/<%= ourServiceData[0]._id %>"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ourServiceData[0].image }` %>" alt=""></a></figure>
                <div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
              </div>
              <div class="content-box">
                <h5 class="title"><a href="/service-details/<%= ourServiceData[0]._id %>">
                    <%= ourServiceData[0].title %>
                  </a></h5>
                <div class="text">
                  <%= ourServiceData[0].description.substring(0, 70) %>...
                </div>
                <a href="/service-details/<%= ourServiceData[0]._id %>" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
              </div>
            </div>
          </div>

          <!-- Service Block -->
          <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image"><a href="/service-details/<%= ourServiceData[1]._id %>"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ourServiceData[1].image }` %>" alt=""></a></figure>
                <div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
              </div>
              <div class="content-box">
                <h5 class="title"><a href="/service-details/<%= ourServiceData[1]._id %>">
                    <%= ourServiceData[1].title %>
                  </a></h5>
                <div class="text">
                  <%= ourServiceData[1].description.substring(0, 70) %>...
                </div>
                <a href="/service-details/<%= ourServiceData[1]._id %>" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
              </div>
            </div>
          </div>

          <!-- Service Block -->
          <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image"><a href="/service-details/<%= ourServiceData[2]._id %>"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ourServiceData[2].image }` %>" alt=""></a></figure>
                <div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
              </div>
              <div class="content-box">
                <h5 class="title"><a href="/service-details/<%= ourServiceData[2]._id %>">
                    <%= ourServiceData[2].title %>
                  </a></h5>
                <div class="text">
                  <%= ourServiceData[2].description.substring(0, 70) %>...
                </div>
                <a href="/service-details/<%= ourServiceData[2]._id %>">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section-->

    <!-- Offer Section -->
    <section class="offer-section">
      <div class="auto-container">
        <div class="row">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12">
            <div class="inner-column">
              <div class="sec-title light">
                <span class="sub-title">Our Vision</span>
                <h5 class="vision_p">
                  <%= aboutUsData[0].vision %>
                </h5>
                <div class="text">Our Mission</div>
              </div>
              <div class="info-box">
                <i class="icon flaticon-business-036-idea"></i>
                <h5 class="title">
                  <%= aboutUsData[0].mission %><br>
                </h5>
              </div>
              <!-- <ul class="list-style-two">
                <li><i class="fa fa-check-circle"></i> Lorem Ipsum is not simply random text</li>
                <li><i class="fa fa-check-circle"></i> Making this the first true generator on the Internet</li>
                <li><i class="fa fa-check-circle"></i> Various versions have evolved over the years</li>
              </ul> -->
            </div>
          </div>

          <!-- Content Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="image-box">
                <figure class="image" style="display: flex; justify-content: center; align-items: center;">
                  <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${aboutUsData[0].image}` %>" alt="Image Description" style="width: 400px; height: 200px;">
                </figure>

                <div class="caption-box wow slideInRight">
                  <div class="icon-box">
                    <a href="<%= aboutUsData[0].videoLink %>" class="play-now-two lightbox-image"><i class="icon fa fa-play"></i></a>
                  </div>
                  <div class="title-box">
                    <h5 class="title">Professional IT technology services you can trust</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- End Offer Section -->

    <!-- Fun Fact Section -->
    <section class="fun-fact-section">
      <div class="auto-container">
        <div class="fact-counter">
          <div class="row">
            <!-- Counter block-->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner">
                <i class="icon flaticon-business-060-graph"></i>
                <div class="count-box"><span class="count-text" data-speed="3000" data-stop="18">
                    <%= displayCountData.yearsInBusiness %>
                  </span></div>
                <h6 class="counter-title">Years In Business</h6>
              </div>
            </div>

            <!--Counter block-->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
              <div class="inner">
                <i class="icon flaticon-business-035-helpline"></i>
                <div class="count-box"><span class="count-text" data-speed="3000" data-stop="1500">0</span></div>
                <h6 class="counter-title">Total Guards"</h6>
              </div>
            </div>

            <!--Counter block-->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
              <div class="inner">
                <i class="icon flaticon-business-020-hierarchy"></i>
                <div class="count-box"><span class="count-text" data-speed="3000" data-stop="500">0</span></div>
                <h6 class="counter-title">Happy Clients</h6>
              </div>
            </div>

            <!--Counter block-->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
              <div class="inner">
                <i class="icon flaticon-business-048-coin"></i>
                <div class="count-box"><span class="count-text" data-speed="3000" data-stop="50">0</span></div>
                <h6 class="counter-title">Awards</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Fun Fact Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
      <div class="auto-container">
        <div class="sec-title">
          <span class="sub-title">Our feedbakcs</span>
          <h2>
            <%= testimonialData[0].title %>
          </h2>
        </div>
        <div class="testimonials">
          <!-- Swiper -->
          <div class="swiper-container testimonial-content">
            <div class="swiper-wrapper">
              <!-- Testimonial Block Two -->
              <% for (const testimonial of testimonialData) { %>
              <div class="testimonial-block swiper-slide">
                <div class="row">
                  <div class="content-column col-lg-6 col-md-12">
                    <div class="icon-box">
                      <span class="icon icon-quote"></span>
                      <div class="rating">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      <%= testimonial.content %>
                    </div>
                    <div class="info-box">
                      <h4 class="name">
                        <%= testimonial.author %>
                      </h4>
                      <span class="designation">Senior Designer</span>
                    </div>
                  </div>
                  <div class="image-column col-lg-6 col-md-12">
                    <figure class="image">
                      <div class="circle-container">
                        <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${testimonial.image}` %>" alt="Image Description">
                      </div>
                    </figure>
                  </div>

                </div>
              </div>
              <% } %>


              <!-- Add Pagination -->
              <div class="testimonial-pagination"></div>
            </div>
          </div>

          <!-- Testimonial Thumbs -->
          <div class="swiper-container testimonial-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide testimonial-thumb">
                <figure class="image"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${testimonialData[0].image}` %>" alt=""></figure>
              </div>
              <div class="swiper-slide testimonial-thumb">
                <figure class="image"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${testimonialData[0].image}` %>" alt=""></figure>
              </div>
              <div class="swiper-slide testimonial-thumb">
                <figure class="image"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${testimonialData[0].image}` %>" alt=""></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Footer -->
    <%- include('Footer.ejs') %>
    <!-- Footer -->

  </div><!-- End Page Wrapper -->




  <!-- Scroll To Top -->

  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

  <script src="../js/jquery.js"></script>
  <script src="../js/popper.min.js"></script>
  <!--Revolution Slider-->
  <script src="../plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="../plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="../plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="../js/main-slider-script.js"></script>
  <!--Revolution Slider-->
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.fancybox.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/wow.js"></script>
  <script src="../js/appear.js"></script>
  <script src="../js/select2.min.js"></script>
  <script src="../js/swiper.min.js"></script>
  <script src="../js/owl.js"></script>
  <script src="../js/script.js"></script>




  <script src="_include/js/feedback.js"></script>


  <script>
    function toggle_visibility() {
      var e = document.getElementById('feedback-main');
      if (e.style.display == 'block')
        e.style.display = 'none';
      else
        e.style.display = 'block';
    }
  </script>
</body>

</html>
