<!DOCTYPE html>
<html lang="en">

    <!-- Header -->
    <%- include('Header.ejs') %>
    <!-- Header -->

    <!-- Start main-content -->
    <section class="page-title" style="background-image: url(../images/background/page-title.jpg);">
      <div class="auto-container">
        <div class="title-outer">
          <h1 class="title">News Grid</h1>
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>News</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end main-content -->

    <!-- News Section -->
    <section class="">
      <div class="container pb-90">
        <div class="row">
          <!-- Loop through the response array from the newsData -->
          <% for (const newsItem of newsData) { %>
          <div class="news-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image"><a href="/news-details/<%= newsItem._id %>"><img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${newsItem.image}` %>" alt=""></a></figure>
                <span class="date"><b>
                    <%= new Date(newsItem.date).getDate() %>
                  </b>
                  <%= new Date(newsItem.date).toLocaleString('default', { month: 'short'}).toUpperCase() %>
                </span>
              </div>
              <div class="content-box">
                <ul class="post-info">
                  <h4 class="title"><a href="/news-details/<%= newsItem._id %>">
                      <%= newsItem.title %>
                    </a></h4>
                </ul>
              </div>
              <div class="bottom-box">
                <a href="/news-details/<%= newsItem._id %>" class="read-more">Read More  </a>
               
              </div>
            </div>
          </div>
          <% } %>

        </div>


      </div>
    </section>
    <!--End News Section -->

    <!-- Footer -->
    <%- include('Footer.ejs') %>
    <!-- Footer -->

</body>


</html>