<!DOCTYPE html>
<html lang="en">

    <!-- Header -->
    <%- include('Header.ejs') %>
    <!-- Header -->

    <!-- Start main-content -->
    <section class="page-title" style="background-image: url(../images/background/page-title.jpg);">
      <div class="auto-container">
        <div class="title-outer">
          <h1 class="title">Service Details</h1>
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Services</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end main-content -->

    <!--Start Services Details-->
    <section class="services-details">
      <div class="container">
        <div class="row">
          <!--Start Services Details Sidebar-->
          <div class="col-xl-4 col-lg-4">
            <div class="service-sidebar">
              <!--Start Services Details Sidebar Single-->
              <div class="sidebar-widget service-sidebar-single">
                <div class="service-sidebar wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1200m">
                  <div class="service-list">
                    <ul>
                      <ul class="service-list">
                        <% for (let i = 0; i < Math.min(serviceData.length, 10); i++) { %>
                        <li>
                          <a href="/service-details/<%= serviceData[i]._id %>" class="current">
                            <i class="fas fa-angle-right"></i>
                            <span><%= serviceData[i].title %></span>
                          </a>
                        </li>
                        <% } %>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>


              <!--Start Services Details Sidebar Single-->
              <div class="sidebar-widget service-sidebar-single mt-5">
                <div class="service-sidebar-single-btn wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1200m">
                  <a href="#" class="theme-btn btn-style-one d-grid"><span class="btn-title"><span class="fas fa-file-pdf"></span> download</span></a>
                </div>
              </div>
              <!--End Services Details Sidebar Single-->
            </div>
          </div>
          <!--End Services Details Sidebar-->

          <!--Start Services Details Content-->
          <div class="col-xl-8 col-lg-8">
            <div class="services-details__content">
              <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${selectedService.image }` %>" alt="" />
              <h2 class="mt-4"><%= selectedService.title %></h2>
              <p>
                <%= selectedService.description %>
              </p>

              <div class=" mt-25">
                <!-- <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui
                                    dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt explicabo.</p> -->
                <ul class="accordion-box wow fadeInRight">
                  <!--Block-->
                  <% for (const faq of selectedFaq) { %>

                  <li class="accordion block">
                    <div class="acc-btn"><%= faq.title %>
                      <div class="icon fa fa-plus"></div>
                    </div>
                    <div class="acc-content">
                      <div class="content">
                        <div class="text">
                          <%= faq.description %>
                        </div>
                      </div>
                    </div>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
          <!--End Services Details Content-->
        </div>
      </div>
    </section>
    <!--End Services Details-->

    <!-- Footer -->
    <%- include('Footer.ejs') %>
    <!-- Footer -->
</body>
</html>