<!DOCTYPE html>
<html lang="en">

    <!-- Start main-content -->
    <!-- <section class="page-title" style="background-image: url(../images/background/page-title.jpg);"> -->
      <div class="auto-container">
        <div class="title-outer">
          <u>
          <h1 class="title">Our Team</h1>
        </u>
          <!-- <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Team</li>
          </ul> -->
        </div>
      </div>
    <!-- </section> -->
    <!-- end main-content -->

    <!-- Team Section -->
    <section class="">
      <div class="container pb-70">
        <div class="row">
          <!-- Team Block -->


          <!-- Team Block -->


          <!-- Team Block -->
          <% for (const teamMember of ourTeamData) { %>
          <div class="team-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="/team-details/<%= teamMember._id %>" class="lightbox-image">
                    <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ teamMember.image }` %>" alt="<%= teamMember.name %>">
                  </a>
                </figure>
              </div>
              <div class="info-box">
                <h5 class="name"><a href="/team-details/<%= teamMember._id %>">
                    <%= teamMember.name %>
                  </a></h5>
                <span class="designation">
                  <%= teamMember.designation %>
                </span>
                <ul class="social-links">
                  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--End Team Section -->

</body>
</html>