<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kodesolution.com/html/2022/oitech-html/page-team.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2023 05:12:00 GMT -->

<head>
  <meta charset="utf-8">
  <title>Moopes Group Security Service</title>
  <!-- Stylesheets -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
  <link href="../plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
  <link href="../plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../plugins/revolution/css/customStyles.css">
  <!-- REVOLUTION NAVIGATION STYLES -->

  <!-- WhatsApp STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header -->
    <%- include('Header.ejs') %>
    <!-- Header -->

    <!-- Start main-content -->
    <section class="page-title" style="background-image: url(../images/background/page-title.jpg);">
      <div class="auto-container">
        <div class="title-outer">
          <h1 class="title">Team Grid</h1>
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li>Team</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end main-content -->

    <!-- Team Section -->
    <section class="">
      <div class="container pb-70">
        <div class="row">
          <!-- Team Block -->


          <!-- Team Block -->


          <!-- Team Block -->
          <% for (const teamMember of ourTeamData) { %>
          <div class="team-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="image-box">
                <figure class="image">
                  <a href="/team-details/<%= teamMember._id %>" class="lightbox-image">
                    <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ teamMember.image }` %>" alt="<%= teamMember.name %>">
                  </a>
                </figure>
              </div>
              <div class="info-box">
                <h5 class="name"><a href="/team-details/<%= teamMember._id %>">
                    <%= teamMember.name %>
                  </a></h5>
                <span class="designation">
                  <%= teamMember.designation %>
                </span>
                <ul class="social-links">
                  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--End Team Section -->

    <!-- Footer -->
    <%- include('Footer.ejs') %>
    <!-- Footer -->

  </div><!-- End Page Wrapper -->

<!-- Mirrored from kodesolution.com/html/2022/oitech-html/page-team.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2023 05:12:00 GMT -->

</html>